In [10]:
import pandas as pd

# Turn CSV into a pandas DataFrame

connectivity_tab = pd.read_csv('./1-s2.0-S0092867416312429-mmc5.csv', sep=',')

# Show first 10 rows of table

connectivity_tab[0:10]

,Unnamed: 0,A09a a1l Basin-2,A09a a1r Basin-2,A09b a1l Basin-1,A09b a1r Basin-1,A09c a1l Basin-4,A09c a1r Basin-4,A09g a1l Basin-3,A09g a1r Basin-3,Drunken-1 a1l,...,lch5-3 a1l,lch5-3 a1r,lch5-5 a1l,lch5-5 a1r,v'ch a1l,v'ch a1r,vchA/B a1l,vchA/B a1l.1,vchA/B a1r,vchA/B a1r.1
0,A09a a1l Basin-2,0,0,5,0,0,0,0,0,1,...,2,0,0,0,2,0,0,1,0,0
1,A09a a1r Basin-2,0,0,0,12,0,1,0,0,0,...,0,0,0,1,0,13,0,0,0,0
2,A09b a1l Basin-1,0,0,0,0,1,0,0,0,3,...,1,0,0,0,11,0,5,1,0,0
3,A09b a1r Basin-1,0,0,0,0,0,1,0,0,0,...,0,5,0,0,0,11,0,0,4,6
4,A09c a1l Basin-4,1,0,12,0,0,0,1,0,0,...,0,0,0,0,0,0,8,9,0,0
5,A09c a1r Basin-4,0,0,0,9,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,3
6,A09g a1l Basin-3,0,0,11,0,1,0,0,0,0,...,3,0,0,0,0,0,10,11,0,0
7,A09g a1r Basin-3,0,0,0,9,0,3,0,0,0,...,0,0,0,0,0,3,0,0,9,11
8,Drunken-1 a1l,0,1,2,0,0,0,0,0,0,...,1,0,0,0,6,0,0,13,0,0
9,Drunken-1 a1r,0,0,0,0,0,0,0,0,0,...,0,2,0,0,0,9,0,0,4,8

In [73]:
# Make a list of column names to use as keys in lookup
columns = list(connectivity_tab.columns)
columns[0:5] # Return first five columns

['Unnamed: 0',
 ' A09a a1l Basin-2',
 ' A09a a1r Basin-2',
 ' A09b a1l Basin-1',
 ' A09b a1r Basin-1']

In [75]:
# Make a new list without the first (unnamed) column [0]:

lookup_keys = columns[1:]


# A dictionary (key: value pairs) mapping names from table to FBbt ids

lookup = { 'A09a a1l Basin-2': 'FBbt:00111229',
           'A09a a1r Basin-2': 'FBbt:00111229',
           'A09b a1l Basin-1': 'FBbt:00111227',
           'A09b a1r Basin-1': 'FBbt:00111227',
           'A09c a1l Basin-4': 'FBbt:00111230',
           'A09c a1r Basin-4': 'FBbt:00111230'}  # ... This should be completed for all columns

# Make a set (uniqued list) of all values in lookup

neurons = set(lookup.values())
neurons

{'FBbt:00111227', 'FBbt:00111229', 'FBbt:00111230'}

In [70]:
# Make a dictionary with key - column header & value = template specification (first row of table).
# Meks first two columns

template_seed = { 'ID': 'ID', 'CLASS_TYPE': 'subclass' }

# The rest of the columns have the neuron id as the column name + template spec in row 1:
data_columns = { n : "C 'synapsed to' %" for n in neurons }

# Add data columns to template seed

template_seed.update(data_columns)

# Create dataFrame for template
# from_records takes a list of dicts - one for each row.  We only have one row.

template = pd.DataFrame.from_records([template_seed])

In [72]:
# Iterate over input table rows
## Iterate over rows.

rows = [] # A list of dicts to populate rows in the output table
for i, r in connectivity_tab.iterrows():
    row_dict = { 'ID' : r[0], 'CLASS_TYPE' : 'subclass' }
    counter = 0
    for k,v in r.items():
        key = k.lstrip()  # Turns out that headers have a leading space. This strips it.
        counter += 1
        # Skip the first column
        if counter == 1:
            continue
        # check we can lookup key
        if key in lookup.keys():
            # lookup fbbt ID
            fbbt = lookup[key]
            # default assumption = 0 synapses
            row_dict[fbbt] = ''
            # over-ride default if v > 0 for any key mapping to fbbt
            # v is a string, we need to turn it into an integer before checking it's > 0
            if int(v) > 0:
                row_dict[fbbt] = fbbt
    rows.append(row_dict)

out = template.append(rows)
out

,CLASS_TYPE,FBbt:00111227,FBbt:00111229,FBbt:00111230,ID
0,subclass,C 'synapsed to' %,C 'synapsed to' %,C 'synapsed to' %,ID
0,subclass,,,,A09a a1l Basin-2
1,subclass,FBbt:00111227,,FBbt:00111230,A09a a1r Basin-2
2,subclass,,,,A09b a1l Basin-1
3,subclass,,,FBbt:00111230,A09b a1r Basin-1
4,subclass,,,,A09c a1l Basin-4
5,subclass,FBbt:00111227,,,A09c a1r Basin-4
6,subclass,,,,A09g a1l Basin-3
7,subclass,FBbt:00111227,,FBbt:00111230,A09g a1r Basin-3
8,subclass,,FBbt:00111229,,Drunken-1 a1l
9,subclass,,,,Drunken-1 a1r
10,subclass,,,,Griddle-1 a1l
11,subclass,FBbt:00111227,,,Griddle-1 a1r
12,subclass,,,,Griddle-1 t3l
13,subclass,,,,Griddle-1 t3r
14,subclass,,,,Griddle-2 a1l
15,subclass,,,,Griddle-2 a1r
16,subclass,,,,Griddle-2 t3l
17,subclass,,,,Griddle-2 t3r
18,subclass,FBbt:00111227,FBbt:00111229,FBbt:00111230,Handle-A a1
19,subclass,,FBbt:00111229,FBbt:00111230,Handle-B a1
20,subclass,,,,Ladder-a a1
21,subclass,,,,Ladder-a t3
22,subclass,,,,Ladder-b a1
23,subclass,,,,Ladder-c a1
24,subclass,,,,Ladder-d a1
25,subclass,FBbt:00111227,,FBbt:00111230,Ladder-e a1
26,subclass,,,,Ladder-f a1
27,subclass,,,,Ladder-f a2
28,subclass,,,,lch5-1 a1l
29,subclass,,,,lch5-1 a1r
30,subclass,,,,lch5-2/4 a1l
31,subclass,,,,lch5-2/4 a1l
32,subclass,,,,lch5-2/4 a1r
33,subclass,,,,lch5-2/4 a1r
34,subclass,,,,lch5-3 a1l
35,subclass,,,,lch5-3 a1r
36,subclass,,,,lch5-5 a1l
37,subclass,,,,lch5-5 a1r
38,subclass,,,,v'ch a1l
39,subclass,,,,v'ch a1r
40,subclass,,,,vchA/B a1l
41,subclass,,,,vchA/B a1l
42,subclass,,,,vchA/B a1r
43,subclass,,,,vchA/B a1r

In [56]:
lookup.keys()

dict_keys(['A09a a1l Basin-2', 'A09a a1r Basin-2', 'A09b a1l Basin-1', 'A09b a1r Basin-1', 'A09c a1l Basin-4', 'A09c a1r Basin-4'])

In [58]:
'A09a a1l Basin-2' in lookup.keys()

True